* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    padding: 50px 8%;
}






.gallery img {
    width: 25%;
    
    margin: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}