@media screen and (max-width:700px) {

    .toggle {
        display: block;
    }

    .slide {
        display: block;
    }

    .nav-links li a {
        display: none;
    }

    .logo {

        font-size: 20px;
        font-weight: 800;
    }

    .home-text p {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
    }

   
    .button {
        font-size: 10px;
    }

    .about-text h1 {
        font-size: 40px;

        font-weight: 900;

    }


    .about-text p {
        font-size: 10px;
    }

    .contacts h2 {
        font-size: 40px;
        align-content: center;
    }

    .contacts {
        align-content: center;

    }

    .container {

        padding-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 50px;
    }

    input, textarea {
        width: 40%;
    }

    .row {

        flex-direction: column;
    }

    .container1 {
        padding: 20px;
    }

    .contact-wrapper {

        grid-template-columns: 1fr;

    }
}